@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
// You have to move these SASS variables to the top because they will not work with properties located above them.
$mainRed: #de1537;
$darkRed: #8f0c25;
$blue: #27a4f3;
$grey: #dedede;
$green: #4ca459;

body {
  font-family: "Roboto", sans-serif;
  background: $grey;
  z-index: 2;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .all-pokemon-box-left {
    display: block;
    transform: translate3d(150px, 0, 0);
    transition: all 0.5s ease-in-out;
  }

  .all-pokemon-box-left.active {
    transform: translate3d(0, 0, 0);
  }

  .pokedex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pokedex {
      transform: translate3d(-150px, 0, 0);
      transition: all 0.5s ease-in-out;
      display: block;
      width: 400px;
      height: 500px;
      background: $mainRed;
      overflow: auto;
      position: relative;

      &.active {
        transform: translate3d(0, 0, 0);
      }

      h1 {
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        margin: 25px 0;
      }

      .poke-img {
        width: 150px;
        height: 150px;
        border: 5px solid $grey;
        display: block;
        margin: 0 auto;
        background: #fff;
        border-radius: 5px;

        img {
          width: 100%;
        }
      }

      h3 {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        margin: 25px 0;
      }

      form {
        text-align: center;

        input[type="text"] {
          font-size: 2rem;
          margin: 25px auto;
          display: block;
          border-radius: 5px;
          border: 1px solid $grey;
          text-align: center;
        }

        .btn-styles {
          display: inline-block;
          padding: 20px;
          width: 110px;
          margin: 0 5px;
          border-radius: 5px;
          background: $blue;
          color: white;
          cursor: pointer;
        }
      }

      .loading-container {
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 10;
        display: none;

        &.active {
          display: flex;
        }
      }
    }

    .all-pokemon-box-bottom {
      display: none;
      transform: translate3d(0, -120px, 0);
    }

    .all-pokemon-box-bottom.active {
      transform: translate3d(0, 0, 0);
    }
  }
}

.all-pokemon-box {
  display: block;
  position: relative;
  height: 490px;
  width: 300px;
  background: $green;

  h5 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 1rem;
  }

  .all-pokemon-list {
    display: block;
    position: relative;
    top: 4%;
    margin: 0 5%;
    height: 84%;
    width: 90%;
    background: #fff;
    overflow: auto;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;

    div {
      padding: 5px 0;
      border: 1px solid black;
    }

    div:hover {
      color: white;
      background: orange;
    }
  }
}

@media only screen and (max-height: 520px) {
  .container {
    .all-pokemon-box-left {
      display: block;
      height: 300px;
      width: 240px;

      h5 {
        font-size: 1.5rem;
        padding: 0.8rem 0;
      }

      .all-pokemon-list {
        top: 0;
        height: 79%;
        font-size: 1.1rem;
      }
    }

    .pokedex-container {
      .pokedex {
        width: 300px;
        height: 310px;

        h1 {
          font-weight: 500;
          font-size: 2rem;
          margin: 15px 0;
        }

        .poke-img {
          height: 100px;
          width: 100px;
        }

        h3 {
          font-weight: 500;
          font-size: 1.2rem;
          margin: 15px 0;
        }

        form {
          input[type="text"] {
            font-size: 1.2rem;
            margin: 15px auto;
          }

          .btn-styles {
            padding: 10px;
            width: 90px;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    .all-pokemon-box-left {
      display: none;
    }

    .pokedex-container {
      .pokedex {
        width: 300px;
        height: 310px;
        transform: translate3d(0, 120px, 0);
        transition: all 0.5s ease-in-out;
        z-index: 20;

        &.active {
          transform: translate3d(0, 0, 0);
        }

        h1 {
          font-weight: 500;
          font-size: 2rem;
          margin: 15px 0;
        }

        .poke-img {
          height: 100px;
          width: 100px;
        }

        h3 {
          font-weight: 500;
          font-size: 1.2rem;
          margin: 15px 0;
        }

        form {
          input[type="text"] {
            font-size: 1.2rem;
            margin: 15px auto;
          }

          .btn-styles {
            padding: 10px;
            width: 90px;
            margin: 0 5px;
          }
        }
      }

      .all-pokemon-box-bottom {
        display: block;
        height: 240px;
        width: 290px;
        transform: translate3d(0, -120px, 0);
        transition: all 0.5s ease-in-out;
        z-index: 10;

        &.active {
          transform: translate3d(0, 0, 0);
        }

        h5 {
          font-size: 1.5rem;
          padding: 0.8rem 0;
        }

        .all-pokemon-list {
          top: 0;
          height: 72%;
          font-size: 1.1rem;
        }
      }
    }
  }

  //   .all-pokemon-box-bottom {
  //     display: block;
  //     height: 240px;
  //     width: 290px;

  //     h5 {
  //       font-size: 1.5rem;
  //       padding: 0.8rem 0;
  //     }

  //     .all-pokemon-list {
  //       top: 0;
  //       height: 72%;
  //       font-size: 1.1rem;
  //     }
  //   }
  // }
}
