@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
// You have to move these SASS variables to the top because they will not work with properties located above them.
$mainRed: #de1537;
$darkRed: #8f0c25;
$blue: #27a4f3;
$grey: #dedede;
$green: #4ca459;

body {
  font-family: "Roboto", sans-serif;
  background: $grey;
  z-index: 2;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .all-pokemon-box-left {
    display: block;
    position: relative;
    height: 490px;
    width: 200px;
    background: $green;

    h5 {
      font-size: 1.8rem;
      text-align: center;
      padding-top: 1rem;
    }

    .all-pokemon-list {
      display: block;
      position: relative;
      top: 4%;
      margin: 0 5%;
      height: 85%;
      width: 90%;
      background: #fff;
      overflow: auto;
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .pokedex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pokedex {
      display: block;
      // width: 100%;
      // max-width: 400px;
      width: 400px;
      height: 500px;
      background: $mainRed;
      // margin: 50px auto;
      overflow: auto;
      position: relative;

      h1 {
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        margin: 25px 0;
      }

      h3 {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        margin: 25px 0;
      }

      form {
        text-align: center;
      }

      input[type="text"] {
        font-size: 2rem;
        margin: 25px auto;
        display: block;
        border-radius: 5px;
        border: 1px solid $grey;
        text-align: center;
      }

      .btn {
        display: inline-block;
        padding: 20px;
        background: $blue;
        color: white;
        cursor: pointer;
      }

      .loading-container {
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 10;
        display: none;

        &.active {
          display: flex;
        }
      }
    }

    .all-pokemon-box-bottom {
      display: block;
      position: relative;
      height: 300px;
      width: 95%;
      background: orange;

      h5 {
        font-size: 1.8rem;
        text-align: center;
        padding-top: 1rem;
      }

      .all-pokemon-list {
        display: block;
        position: relative;
        top: 4%;
        margin: 0 5%;
        height: 75%;
        width: 90%;
        background: #fff;
        overflow: auto;
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }

  .poke-img {
    width: 150px;
    height: 150px;
    border: 5px solid $grey;
    display: block;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;

    img {
      width: 100%;
    }
  }
}
